* {
	font-family: arial, sans-serif
}

#header {
	font-size: 22px;
	text-align: center;
	padding: 75px 50px 20px 50px;
}

#game_info{
	font-size: 20px;
	text-align: center;
	padding: 20px
}

#input{
	text-align: center;
	padding: 20px
}

#new_game{
	text-align: center;
	padding: 10px;
}

#game_message{
	text-align: center;
	padding: 5px;
}

#box{
	width: 75px;
}