* {
	font-family: arial,sans-serif;
}

#header{
	font-size: 22px;
	text-align: center;
	padding: 75px 50px 20px 50px;
}

#form{
	font-size: 20px;
	text-align: center;
}

#result{
	font-size: 20px;
	text-align: center;
}