<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="caesar.css">
		<title>Caesar Cipher</title>
	</head>
	<body>
		<div id='header'>
			<h2>The Caesar Cipher</h2>
			<p>Enter text to be encoded/decoded and shift amount</p>
		</div>
		<div id=form>
			<form id="caesar_form">
				<input type="text" name="phrase" />
				<input type="number" name="shift" min="1">
				<input class="button" type="submit" name="submit" value="Encode"/>
				<input class="button" type="submit" name="submit" value="Decode"/>
			</form>	
		</div>
	<p id=result>
		Result: <%= result %>
	</p>
	</body>
</html>