<html>
	<head></head>
	<body>
	<p>
		Enter text to be encoded/decoded, and shift amount
	</p>
		<form>
			<input type="text" name="phrase" />
			<input type="number" name="shift" min="1">
			<input type="submit" name="submit" value="Encode"/>
			<input type="submit" name="submit" value="Decode"/>
		</form>	
	<p>
		Result: <%= result %>
	</p>
	</body>
</html>