* {
	background: #005f63;
	font-weight: bold;
	font-size: 22px;
	color: #ffffff;
}

#header{
	background: #428d90;
	width: 720px;
	margin: 15px auto;
	border: 2px solid black; 
	height: auto;
}

#header > .header-element {
	text-align: center;
	background: #428d90;
}

#header > .header-button {
	background: #003539;
	margin: 21px;
}

.box {
	float: left;
	background-color: #ffffff; 
	padding: none;
	margin: none;
}

#container {
	background: #ffffff;
	margin: auto;
	border: 2px solid black;
	width: 720px;
	height: 720px;
}